.input {
    padding: 5px;
    height:25px;
    line-height: 25px;
    width: 50%;
}

.btn{
    padding: 5px 10px;
    color:#fff;
    border: none;
    margin-top: 15px;
    display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
